**Python - Yason Dawson Imawan**

# Bagian 1

## Tipe Data

In [1]:
a = 10
print(a, "bertipe", type(a))

10 bertipe <class 'int'>

In [2]:
nama = 'Toni'
print(nama, "bertipe", type(nama))

Toni bertipe <class 'str'>

In [3]:
hasil = False
print(hasil, "bertipe", type(hasil))

False bertipe <class 'bool'>

In [4]:
b = 25.987
print(b , "bertipe", type(b))

25.987 bertipe <class 'float'>

In [5]:
c = complex(2+3j)
print(c , "bertipe", type(c))

(2+3j) bertipe <class 'complex'>

In [6]:
a = 9
a = 'Tono'
print(a, "bertipe", type(a))

Tono bertipe <class 'str'>

## Operations

In [7]:
print(3+3)

6

In [8]:
print(3*3)

9

In [10]:
print(3**3)

27

In [11]:
print(9/3)

3.0

In [12]:
print(25%7)
#%, mod, sisa pembagian

4

In [13]:
print(max(2,3,4))
print(min(2,3,4))
print(round(5.49))

4
2
5

In [14]:
print(9**(1/2))

3.0

## String

In [15]:
print("Hello World")
print("Welcome to Python")

Hello World
Welcome to Python

In [16]:
kutipantiga = """this is a long string that is made up of several lines and non-printable characters such as TAB ( \t ) and they will show up that way when displayed. NEWLINEs within the string, whether explicitly given like this within the brackets [ \n ], or just a NEWLINE within the variable assignment will also show up.
"""
print(kutipantiga)

this is a long string that is made up of several lines and non-printable characters such as TAB ( 	 ) and they will show up that way when displayed. NEWLINEs within the string, whether explicitly given like this within the brackets [
 ], or just a NEWLINE within the variable assignment will also show up.

In [17]:
nama = "Toni"
umur = 120
print("Nama aku " + nama)
print("Umur saya " + str(umur))
print(nama + " adalah namaku.")
print(str(umur) + " adalah umurku.")
print('nama ', nama, 'umur ', umur)

Nama aku Toni
Umur saya 120
Toni adalah namaku.
120 adalah umurku.
nama  Toni umur  120

In [18]:
a =20
b = 90
print (str(a) + str(b))

2090

In [19]:
nama = "Toni"
umur = 120
print("Nama aku " + nama)
print("Umur saya " + str(umur))
nama = "Bella"
print(nama + " adalah namaku.")
print(nama + " namaku.")

Nama aku Toni
Umur saya 120
Bella adalah namaku.
Bella namaku.

In [20]:
name = "Bella"
#       12345
#       01234
print(name.upper())
print(name.lower())
print(name.capitalize())
print(name.isupper())
print(name.islower())
print(len(name))
print(name[1:4])
#index selalu mulai dari 0
print(name.index("l"))

BELLA
bella
Bella
False
False
5
ell
2

In [21]:
"Hello {} umur saya {}". format(nama, umur)

'Hello Bella umur saya 120'

## Functions

In [22]:
def perkenalan (nama, asal):
  print(f"Perkenalkan saya {nama} dari {asal}")

perkenalan("Alvin", "Jawa Timur")

Perkenalkan saya Alvin dari Jawa Timur

In [23]:
def luasSegitiga (alas, tinggi):
    luas = (alas * tinggi)/2
    print("Luas segitiga =",luas)

luasSegitiga(3,6)

Luas segitiga = 9.0

In [24]:
#Excercise
#Buatlah sebuah fungsi untuk menghitung volume balok 
def volumeBalok(panjang, lebar, tinggi):
  #rumus
  Volume = panjang * lebar * tinggi
  #cetak hasil
  print("Volume Balok =", Volume)

#panggil fungsi volume balok
volumeBalok(5,6,7)

Volume Balok = 210

In [25]:
i = 4
if i == 1:
    print(1)
elif i == 2:
    print(2)
else :
    print("Not 1 and 2")

Not 1 and 2

In [26]:
friends = ["A", "B", "C"]
print(friends)            #["A", "B", "C"]
print(friends[0])         #A
print(friends[-1])        #C
print(friends[1:])        #["B", "C"]
print(friends[0:2])       #["A", "B"]

['A', 'B', 'C']
A
C
['B', 'C']
['A', 'B']

In [27]:
X = ["A", "B", "C"]
Y = [1, 2, 3]
X.extend(Y)
print(X)

['A', 'B', 'C', 1, 2, 3]

In [28]:
X.append("D")    
print(X)

['A', 'B', 'C', 1, 2, 3, 'D']

In [29]:
X.insert(1, "D")
print(X)

['A', 'D', 'B', 'C', 1, 2, 3, 'D']

In [30]:
X.clear()
print(X)

[]

In [31]:
X = ["A", "B", "C"]
Y = [1, 2, 3]
X.pop()
print(X)

['A', 'B']

In [32]:
X.index("B")           
print(X)

['A', 'B']

In [33]:
X.count("B")           
print(X)

['A', 'B']

In [34]:
X.sort()
print(X)

['A', 'B']

In [35]:
X.reverse()     
print(X)

['B', 'A']

In [36]:
X2 = X.copy()
print(X2)

['B', 'A']

## Dictionary

In [37]:
# mendefinisikan dictionary
id_divisi = {
    71 : 'IT',
    82 : 'Finance',
    91 : 'Data'
}

# mengakses data menggunakan key
print("Divisi dengan kode 71:", id_divisi[71])

Divisi dengan kode 71: IT

In [38]:
days_in_a_week = {
        "Mon": "Monday",
        "Tue": "Tuesday",
        "Wed": "Wednesday",
        "Thu": "Thursday",
        "Fri": "Friday",
        "Sat": "Saturday",
        "Sun": "Sunday"
    }
days_in_a_week["Mon"]

'Monday'

## Pengulangan

In [39]:
#for loops
angka = [1,2,3,4,5]
for x in angka:
    print(x)

1
2
3
4
5

In [40]:
#for loops
buah = ["nanas", "apel", "jeruk"]
for makanan in buah:
    print ("Saya suka makan", makanan)

Saya suka makan nanas
Saya suka makan apel
Saya suka makan jeruk

In [41]:
#while loops
count = 0
while (count < 9):
    print ("The count is: ", count)
    count = count + 1

print ("Good bye!")

The count is:  0
The count is:  1
The count is:  2
The count is:  3
The count is:  4
The count is:  5
The count is:  6
The count is:  7
The count is:  8
Good bye!

In [42]:
#Nested Loops
i = 2
while(i < 100):
    j = 2
    while(j <= (i/j)):
        if not(i%j): break
        j = j + 1
    if (j > i/j) : print(i, " is prime")
    i = i + 1

print("Good bye!")

2  is prime
3  is prime
5  is prime
7  is prime
11  is prime
13  is prime
17  is prime
19  is prime
23  is prime
29  is prime
31  is prime
37  is prime
41  is prime
43  is prime
47  is prime
53  is prime
59  is prime
61  is prime
67  is prime
71  is prime
73  is prime
79  is prime
83  is prime
89  is prime
97  is prime
Good bye!

## Exercise

In [43]:
#Buat program untuk menghitung jumlah seluruh angka ganjil dalam suatu list
# Input: list berisi angka-angka
# Output: jumlah seluruh angka ganjil 

#Program untuk menghitung banyaknya angka ganjil ataupun genap secara random
#serta menghitung jumlah bilangan tersebut

minimum = int(input(" Please Enter the Minimum Value : ")) 
maximum = int(input(" Please Enter the Maximum Value : "))

even_total = 0
odd_total = 0
 
for number in range(minimum, maximum + 1):
    if(number % 2 == 0):
        even_total = even_total + number
    else:
        odd_total = odd_total + number
 
print("The Sum of Even Numbers from 1 to {0} = {1}".format(number, even_total))
print("The Sum of Odd Numbers from 1 to {0} = {1}".format(number, odd_total))

 Please Enter the Minimum Value : 10
 Please Enter the Maximum Value : 100
The Sum of Even Numbers from 1 to 100 = 2530
The Sum of Odd Numbers from 1 to 100 = 2475

In [44]:
# Python Program to find Sum of Even and Odd Numbers in a List

NumList = []
Even_Sum = 0
Odd_Sum = 0
j = 0

Number = int(input("Please enter the Total Number of List Elements: "))
for i in range(1, Number + 1):
    value = int(input("Please enter the Value of %d Element : " %i))
    NumList.append(value)

while(j < Number):
    if(NumList[j] % 2 == 0):
        Even_Sum = Even_Sum + NumList[j]
    else:
        Odd_Sum = Odd_Sum + NumList[j]
    j = j+ 1

print("\nThe Sum of Even Numbers in this List =  ", Even_Sum)
print("The Sum of Odd Numbers in this List =  ", Odd_Sum)

Please enter the Total Number of List Elements: 6
Please enter the Value of 1 Element : 1
Please enter the Value of 2 Element : 2
Please enter the Value of 3 Element : 4
Please enter the Value of 4 Element : 2
Please enter the Value of 5 Element : 5
Please enter the Value of 6 Element : 1

The Sum of Even Numbers in this List =   8
The Sum of Odd Numbers in this List =   7

In [45]:
#Diberikan input suatu angka, tampilkan formasi piramida bintang dengan tinggi sesuai dengan angka yang diinputkan
# Input: suatu angka (n)
# Output: piramida dengan tinggi n

#    *
#   ***
#  *****  contoh output untuk n = 5
# *******
#*********

# Python 3.x code to demonstrate star pattern
 
# Function to demonstrate printing pattern triangle
def triangle(n):
     
    # number of spaces
    k = n - 1
 
    # outer loop to handle number of rows
    for i in range(0, n):
     
        # inner loop to handle number spaces
        # values changing acc. to requirement
        for j in range(0, k):
            print(end=" ")
     
        # decrementing k after each loop
        k = k - 1
     
        # inner loop to handle number of columns
        # values changing acc. to outer loop
        for j in range(0, i+1):
         
            # printing stars
            print("* ", end="")
     
        # ending line after each row
        print("\r")
 
# Driver Code
n = 5
triangle(n)

    *
   * *
  * * *
 * * * *
* * * * *

# Bagian 2

In [46]:
class apel(): 
	def __init__(self):
		super().__init__()
		print("apel adalah buah")
	def apaIni(self):
		print("apel")
	def warna(self):
		print("warna merah")

A = apel()
A.apaIni()
A.warna()
A.__init__()

apel adalah buah
apel
warna merah
apel adalah buah

In [47]:
class komputer() :
  def __init__(self):
    self.__maxprice = 900
    print(self.__maxprice)
  def sell(self,price):
    self.__maxprice = price
    print(self.__maxprice)
    
c = komputer()
c.sell(1000)
print(c)

900
1000
<__main__.komputer object at 0x7f327a373b50>

In [48]:
class beo :
	def terbang(self):
		print("beo terbang")
	def warna (self):
		print("beo merah")
class merpati :
	def terbang(self):
		print("merpati terbang")
	def warna (self):
		print("merpati putih")
def terbang(burung):
  burung.terbang()
  burung.warna()


Beo=beo()
Merpati = merpati()

terbang(Beo)
terbang(Merpati)

beo terbang
beo merah
merpati terbang
merpati putih

In [49]:
class Point():
  def __init__(self, x= 0,y=0):
    self.x = x
    self.y = y
    hasil  = x+y
    print(hasil)
p1 = Point(1,2)
p2 = Point(2, 3)

3
5

In [50]:
listku = [1,2,3,4,5]
myIter = iter(listku)
next(myIter)
next(myIter)

2

In [51]:
class lemari() :
  def __init__(self, barang="baju"):
   self.set_barang(barang)
  def get_barang(self):
   return self._barang
  def set_barang(self, barang):
   self._barang = barang
   print(barang) 
    
d = lemari()
d.get_barang()
d.set_barang("pita")

baju
pita

## Regex

Regex adalah singkatan dari Regular Expresion.


Regex merupakan sebuah teks (string) yang mendefinisikan sebuah pola pencarian sehingga dapat membantu kita untuk melakukan matching (pencocokan), locate (pencarian), dan manipulasi teks.

In [52]:
import re

string = 'haii 15. Nomor kamu 34. NOmor dia 12544162'
pattern = '\d+'

result = re.findall(pattern, string) 
print(result)

['15', '34', '12544162']

In [53]:
string = 'haii 15. Nomor kamu 34'
pattern = '\d+'

result = re.split(pattern, string) 
print(result)

['haii ', '. Nomor kamu ', '']

In [54]:
def coba(n):
  print(n)
  return lambda a : a * n
test1= coba(2)
print(test1(3))

test2 = coba(3)
print(test2(6))

2
6
3
18

In [55]:
#Mencari Teks tanpa regex
def is_phone_number(text):
    if len(text) != 11:
        return False
    for i in range(0, 3):
      if not text[i].isdecimal():
        return False
      if text[3] != ' ':
        return False
    for i in range(4, 11):
        if not text[i].isdecimal():
            return False
    return True
print('021 8229311 adalah nomor telepon:')
print(is_phone_number('021 8229311'))
print('Hello Hello adalah nomor telepon:')
print(is_phone_number('Hello Hello'))

021 8229311 adalah nomor telepon:
True
Hello Hello adalah nomor telepon:
False

In [56]:
#Mencari Teks dengan regex
pesan = 'Panggil saya di nomor 061 7981011 besok. Kalau sore bisa hubungi kantor saya di 061 7939999.'
for i in range(len(pesan)):
    text = pesan[i:i+11]
    if is_phone_number(text):
        print("Nomor telepon ditemukan:", text)

Nomor telepon ditemukan: 061 7981011
Nomor telepon ditemukan: 061 7939999

In [57]:
#Membuat Objek Regex
import re
no_telp_regex = re.compile(r'(\d\d\d) (\d\d\d\d\d\d\d)')
mo = no_telp_regex.search('Nomor telepon saya 021 8273467.')
mo.group()

'021 8273467'

In [58]:
mo.group(1)

'021'

In [59]:
mo.group(2)

'8273467'

In [60]:
mo.groups()
kode_area, no_telp = mo.groups()
print(kode_area)

021

In [61]:
print(no_telp)

8273467

## Exercise

In [62]:
def tambah(x, y):
    return x + y

def pengurangan(x, y):
    return x - y

def perkalian(x, y):
    return x * y

def bagi(x, y):
    return x / y


print("Pilihlah nomer dibawah ini.")
print("1.Tambah")
print("2.Kurang")
print("3.Kali")
print("4.Pembagian")

while True:
    # take input from the user
    choice = input("Masukkan pilihan anda(1/2/3/4): ")

    # check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Masukkan angka petama : "))
        num2 = float(input("Masukkan angka kedua : "))

        if choice == '1':
            print(num1, "+", num2, "=", tambah(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", pengurangan(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", perkalian(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", bagi(num1, num2))
        
        # check if user wants another calculation
        # break the while loop if answer is no
        next_calculation = input("Masih ingin melanjutkan? (yes/no): ")
        if next_calculation == "no":
          break
    
    else:
        print("Invalid Input")

Pilihlah nomer dibawah ini.
1.Tambah
2.Kurang
3.Kali
4.Pembagian
Masukkan pilihan anda(1/2/3/4): 2
Masukkan angka petama : 90
Masukkan angka kedua : 46
90.0 - 46.0 = 44.0
Masih ingin melanjutkan? (yes/no): no